@use 'colors' as color;

.nav {
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	padding: 0 2rem;
	width: 100%;
	height: 80px;
	background-color: color.$white;
	z-index: 9;

	&.border-bottom {
		border-bottom: 1px solid color.$light-gray2;
	}

	&__logo {
		font-size: 3.6rem;
		&-icon {
			color: color.$gray;
		}
		&-text {
			line-height: 1.5;
			color: color.$black;
			font-weight: 500;
		}
	}

	&__burger-btn {
		padding-left: 1.5rem;
		color: color.$black;
		font-size: 3.6rem;
		z-index: 100;
		&.rotate-burger-btn {
			transform: rotate(180deg);
		}
	}

	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100vh;
		background-color: #0000006f;
		opacity: 0;
		z-index: -81;
		transition: .3s;
		pointer-events: none;
		&.show-shadow {
			opacity: 1;
			z-index: 5;
			pointer-events: auto;
		}
	} 
	&__mobile {
		position: absolute;
		top: 0;
		width: 60%;
		right: 0;
		height: 100vh;
		display: flex;
		flex-direction: column;
		background-color: color.$white;
		transform: translateX(100%);
		transition: transform 0.3s;
		z-index: 10;

		&-link {
			padding: 2rem;
			color: color.$black;
			font-size: 2.5rem;
			&:first-child {
				margin-top: clamp(100px, 15vh, 200px);
			}

			&.active {
				text-decoration: underline;
				text-decoration-thickness: 3px;
				text-underline-offset: 5px;
			}
		}

		&.show-links {
			transform: translateX(0%);
		}
	}

	&__desktop {
		display: none;
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
	}
}
